@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

body {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
  background-color: #282828;
  color: #ffffff;
  margin: auto;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
}

#logoutBtn {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.table-container {
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #eda129;
  padding: 8px;
  text-align: left;
  color: #ffffff;
}

th {
  background-color: #eda129;
  color: #1a1a1a;
}

#addUserForm {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#leetcodeId {
  flex-grow: 1;
  margin-right: 5px;
  padding: 5px;
}

#addUserBtn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.header {
  display: flex;
  gap: 3em;

  align-items: center;
}

#sign_out {
  margin-right: auto;
  margin-left: auto;
}

.spinner {
  border: 4px solid #282828;
  /* Light grey */
  border-top: 4px solid #eda129;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;


  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner-parent {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.open-to-contribute {
  background-color: #EF4444;
  width: 200px;
  height: 40px;
  display: block;
  margin: 30px auto 20px auto;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 5px;
}

.open-to-contribute a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.open-to-contribute a :is(img, span) {
  display: block;
}

.contribute-icon {
  max-width: 100%;
  width: 20px;
  height: auto;
}

.open-to-contribute:hover {
  -webkit-animation: pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
  animation: pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;

}

.contribute-text {
  color: #ffffff;
  font-size: 0.7rem;
  font-family: sans-serif;
  font-weight: 600;
}

@-webkit-keyframes pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

@keyframes pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}